asyncpg~=0.20.0
click~=7.1
httptools>=0.0.13
immutables>=0.13
parsing~=1.6.1
prompt_toolkit==3.0.3
psutil~=5.6.1
Pygments~=2.3.0
setproctitle~=1.1.10
setuptools-rust==0.10.6
setuptools_scm~=3.2.0
typing_inspect~=0.5.0
uvloop~=0.14.0
wcwidth~=0.2.5
graphql-core~=3.0.3
promise~=2.2.0
edgedb>=0.9.0a1
Cython==0.29.14
